:root {
  --primary: #EA7070;
  --black: #00262A;
  --primary-hover: #D36565;
  --primary-active: #BB5A5A;
  --dark-primary: #FDC4B6;
  --dark-primary-active: #CA9D92;
  --black: #00262A;
  --white: #FFF9F8;
  --secondary-alternate: #83C5BE;
  --secondary: #006D77;
  --grey: #D9C3C3;
}

:root {
  --background: var(--white);
  --background-reverse: var(--black);
  --text: var(--black);
  --reverse-text: var(--white);
  --primary-reverse: #FDC4B6;
  --secondary-reverse: #83C5BE;
  --secondary-alternate-reverse: #006D77;
  --primary: #EA7070;
}

body.dark {
  --background: var(--black);
  --background-reverse: var(--white);
  --text: var(--white);
  --reverse-text: var(--black);
  --primary: #FDC4B6;
  --primary-reverse: #EA7070;
  --secondary-reverse: #006D77;
  --secondary-alternate-reverse: #83C5BE;
}

body {
  transition: color 0.25s, background-color 0.25s;
}
