:root {
  --primary: #EA7070;
  --black: #00262A;
  --primary-hover: #D36565;
  --primary-active: #BB5A5A;
  --dark-primary: #FDC4B6;
  --black: #00262A;
  --white: white;
  --secondary-alternate: #83C5BE;
  --secondary: #006D77;
}

:root {
  --background: var(--white);
}

body.dark {
  --background: var(--dark-primary);
}
