@import "colors.css";
@import "reset.css";
body {
  background-color: var(--background);
  height: 500vh;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: var(--grey);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 15px;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-hover);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  padding: 48px 48px 48px 36px;
}
header .header-title {
  display: flex;
  flex-direction: column;
}
header .header-title h1 {
  color: var(--text);
  font-family: "Montserrat Alternates";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 0;
}
header .header-title p {
  color: var(--primary);
  font-family: "Montserrat";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  margin: 0;
}
header .header-nav .header-close {
  display: none;
}
header .header-nav .link {
  text-decoration: none;
  color: var(--text);
}
header .header-nav ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat";
  align-items: center;
}
header .header-nav ul .switch-theme {
  position: relative;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s;
  cursor: pointer;
}
header .header-nav ul .switch-theme i {
  z-index: 1;
  transition: color 0.25s;
}
header .header-nav ul .switch-theme::before {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  border-radius: 50%;
  background: var(--background-reverse);
  transition: 0.25s;
}
header .header-nav ul .switch-theme:hover i {
  color: var(--reverse-text);
}
header .header-nav ul .switch-theme:hover::before {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}
header .header-nav .icons {
  gap: 16px;
  display: flex;
}
header .header-nav i {
  color: var(--text);
  font-size: 32px;
  font-style: normal;
}
header .header-nav .button-animation {
  transition-duration: 0.25s;
}
header .header-nav .button-animation:hover {
  background: var(--primary-hover);
}
header .header-nav .button-animation:active {
  background: var(--primary-active);
}
header .header-burger {
  display: none;
}
header .header-burger svg {
  stroke: var(--primary);
  width: 22px;
  height: 22px;
}

button {
  height: 64px;
  border-radius: 32px;
  display: flex;
  align-items: center;
  background: var(--primary);
  border: none;
  width: 174px;
  justify-content: center;
  cursor: pointer;
}

.link-button {
  font-family: "Montserrat";
  font-size: 16px;
  color: var(--reverse-text);
  font-weight: 700;
  text-decoration: none;
}

.banner {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.banner .banner-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 40px;
}
.banner .banner-content .bienvenue {
  font-size: 36px;
  font-family: "Montserrat";
  font-weight: 500;
  color: var(--text);
  text-indent: 10px;
}
.banner .banner-content .welcome {
  font-family: "Montserrat Alternates";
  font-size: 36px;
  font-weight: 275;
  color: var(--text);
  text-indent: 10px;
}
.banner .banner-content .sous-titre {
  font-family: "Montserrat";
  font-size: 28px;
  font-weight: 300;
  color: var(--text);
}
.banner .div-button {
  display: flex;
  justify-content: center;
  padding: 24px 0px 24px 0px;
}
.banner .div-button .button-animation {
  transition-duration: 0.25s;
}
.banner .div-button .button-animation:hover {
  background: var(--primary-hover);
}
.banner .div-button .button-animation:active {
  background: var(--primary-active);
}
.banner .div-button .link {
  border: none;
}
.banner .div-button .white {
  background: var(--reverse-text);
  margin-right: 24px;
  border: 1px solid var(--text);
  height: 64px;
  display: flex;
  align-items: center;
  width: 110px;
}
.banner .div-button .black {
  color: var(--text);
  font-family: "Montserrat";
  font-size: 16px;
  text-decoration: none;
  font-weight: 700;
}

section {
  padding: 24px 48px;
}
section .section-title {
  padding: 8px 0px;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 48px;
}
section .section-title .line {
  height: 2px;
  background: var(--primary-reverse);
}
section .section-title .line:first-child {
  width: 32px;
}
section .section-title .line:last-child {
  flex: 1;
}
section .section-title h2 {
  color: var(--text);
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 300;
}
section .section-title.secondary-alternate .line {
  background: var(--secondary-reverse);
}
section .section-title.dark-primary .line {
  background: var(--primary-reverse);
}
section .section-title.primary .line {
  background: var(--primary);
}

.projets .projet {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}
.projets .projet .card {
  background: var(--primary-reverse);
  padding: 24px;
  width: 30%;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  gap: 12px;
  box-sizing: border-box;
}
.projets .projet .card img {
  height: 240px;
  border-radius: 12px 12px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
.projets .projet .card h3 {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 500;
  color: var(--text);
  margin: 0;
}
.projets .projet .card .projet-content {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
  align-self: stretch;
  margin: 0;
  color: var(--text);
}
.projets .projet .card .language {
  display: flex;
  gap: 8px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  color: var(--black);
  font-size: 16px;
  font-weight: 400;
  flex-wrap: wrap;
}
.projets .projet .card .language .liste-language {
  border-radius: 16px;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  line-height: 1;
}
.projets .projet .card .lien-projet {
  text-align: right;
  font-family: "Montserrat";
  color: var(--text);
  font-size: 16px;
  font-weight: 400;
  margin-top: auto;
}
.projets .projet .card-2 {
  background: var(--secondary-reverse);
}
.projets .projet .card-3 {
  background: var(--secondary-alternate-reverse);
}
.projets .projet .card-3 .projet-3 {
  color: var(--reverse-text);
}

.competence .skills {
  display: flex;
  align-items: center;
  padding-bottom: 24px;
}
.competence .skills .title-skills {
  padding-right: 114px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Montserrat";
  line-height: 24px;
  color: var(--text);
}
.competence .skills .title-skills.title-method {
  padding-right: 67px;
}
.competence .skills .title-skills.title-others {
  padding-right: 102px;
}
.competence .skills .capacity {
  gap: 24px;
  display: flex;
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  color: var(--reverse-text);
  font-size: 20px;
  font-weight: 700;
}
.competence .skills .capacity .know {
  border-radius: 28px;
  background: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  line-height: 1;
}
.competence .skills .capacity .know.dark-primary {
  background: var(--primary-reverse);
  color: var(--black);
}
.competence .skills .capacity .know.secondary-alternate {
  background: var(--secondary-alternate);
  color: var(--black);
}

.training .training-content {
  border-left: 12px solid var(--primary);
  border-radius: 8px;
  display: flex;
  gap: 96px;
  padding: 17px 0px 0px 17px;
}
.training .date {
  color: var(--text);
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
}
.training .title-training {
  color: var(--text);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.training .school {
  color: var(--text);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.training .diploma-content {
  margin-top: 24px;
}
.training .diploma {
  color: var(--text);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.contact ul {
  display: flex;
  gap: 48px;
  list-style-type: none;
  font-size: 24px;
  font-weight: 400;
  font-family: "Montserrat";
  align-items: center;
  color: var(--text);
  flex-wrap: wrap;
}
.contact ul li {
  gap: 16px;
  display: flex;
  align-items: center;
}
.contact ul span {
  gap: 16px;
  border-radius: 24px;
  background: var(--background-reverse);
  color: var(--reverse-text);
  padding: 12px 16px;
}
.contact ul span.secondary {
  background: var(--secondary-alternate-reverse);
}
.contact ul .icon-contact {
  font-size: 24px;
  font-weight: 900;
}
.contact form {
  margin-top: 48px;
  background: var(--primary-reverse);
  padding: 32px 24px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 400;
  color: var(--text);
}
.contact form .form-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact form .form-details label {
  margin-left: 20px;
}
.contact form .form-details .button-submit {
  display: flex;
  height: 80px;
  flex: 1 0 0;
  justify-content: flex-end;
}
.contact form .form-details .button-submit button {
  background: var(--dark-primary-active);
  border-radius: 36px;
  padding: 24px;
  color: var(--black);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.contact form .title-form {
  font-weight: 700;
  height: 40px;
  font-size: 32px;
  margin-left: 20px;
}
.contact form .contact-details {
  display: flex;
  gap: 48px;
}
.contact form div.input-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}
.contact form div.input-div label {
  margin-left: 20px;
}
.contact form div.input-div input,
.contact form div.input-div textarea {
  border-radius: 28px;
  border: none;
  padding: 16px 24px;
  font-family: "Montserrat";
  color: var(--text);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  background: var(--background);
}
.contact form div.input-div input::-moz-placeholder, .contact form div.input-div textarea::-moz-placeholder {
  color: var(--grey);
}
.contact form div.input-div input::placeholder,
.contact form div.input-div textarea::placeholder {
  color: var(--grey);
}
.contact form .message {
  height: 200px;
  resize: none;
  /* Handle */
}
.contact form .message::-webkit-scrollbar {
  width: 12px;
}
.contact form .message::-webkit-scrollbar-track {
  display: none;
}
.contact form .message::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 6px;
}

.paragraph {
  color: var(--text);
  font-family: Montserrat;
  font-size: 20px;
  line-height: 1.25;
  font-style: normal;
  margin-top: 60px;
  text-align: justify;
}

.section-content {
  border-radius: 24px;
  background: var(--secondary-reverse);
  display: flex;
  justify-content: space-between;
}
.section-content .link-cv {
  display: flex;
  gap: 24px;
  color: var(--text);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  align-items: center;
}
.section-content .link-cv span {
  color: var(--text);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.section-content i {
  font-size: 40px;
}

footer {
  display: flex;
  margin-top: 60px;
  background: var(--black);
  color: white;
  padding: 98px 48px;
}
footer .logo {
  margin-bottom: 24px;
}
footer .title-footer {
  width: 40%;
}
footer .title-footer .name {
  color: var(--White);
  font-family: "Montserrat Alternates";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
footer .title-footer .job {
  color: var(--White, #FFF9F8);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
footer .footer-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}
footer .column-footer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--White);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
footer .column-footer .title-column {
  color: var(--White);
  font-family: "Montserrat Alternates";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
footer .column-footer a {
  text-decoration: none;
  color: var(--White);
}
footer .column-footer a.animation-link {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 0 26px 0 0px;
  transition: padding 0.25s ease-in-out;
}
footer .column-footer a.animation-link span {
  position: relative;
}
footer .column-footer a.animation-link span::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--white);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease-in-out;
}
footer .column-footer a.animation-link i {
  position: absolute;
  left: -26px;
  transition: left 0.25s ease-in-out;
}
footer .column-footer a.animation-link:hover {
  padding: 0 0px 0 26px;
}
footer .column-footer a.animation-link:hover span::before {
  transform: scaleX(1);
}
footer .column-footer a.animation-link:hover i {
  left: 0;
}

@media (max-width: 1024px) {
  .projets .projet {
    flex-wrap: wrap;
    justify-content: center;
  }
  .projets .projet .card {
    min-width: 43%;
    flex: 1;
  }
  .projets .projet .card img {
    height: 224px;
  }
  .projets .projet .card .projet-content {
    font-size: 13px;
  }
  .projets .projet .card .language {
    flex-wrap: wrap;
    font-size: 15px;
  }
  .contact ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .competence .skills .capacity {
    font-size: 13px;
  }
  .paragraph {
    font-size: 22px;
  }
  footer .title-footer {
    width: 37%;
  }
}
@media (max-width: 767.98px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
  }
  .overlay.open {
    display: block;
  }
  section {
    padding: 16px;
  }
  section .section-title {
    justify-content: center;
  }
  section .section-title .line {
    height: 2px;
    background: var(--dark-primary);
  }
  section .section-title .line:first-child {
    display: none;
  }
  section .section-title .line:last-child {
    display: none;
  }
  section .section-title h2 {
    font-size: 32px;
  }
  header .header-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 230px;
    height: 102vh;
    background-color: var(--primary-reverse);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
  }
  header .header-nav .header-close {
    display: block;
  }
  header .header-nav .header-close svg {
    stroke: var(--primary);
    width: 22px;
    height: 22px;
    position: absolute;
    top: 16px;
    right: 16px;
  }
  header .header-nav ul {
    flex-direction: column;
    align-items: flex-start;
  }
  header .header-nav.open {
    animation: transformMenu 300ms ease-in-out forwards;
    display: flex;
  }
  @keyframes transformMenu {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: initial;
    }
  }
  header .header-burger {
    display: block;
  }
  .banner {
    margin-top: 0px;
  }
  .banner .banner-content .bienvenue {
    font-size: 30px;
  }
  .banner .banner-content .welcome {
    font-size: 30px;
  }
  .banner .banner-content .sous-titre {
    font-size: 22px;
  }
  .banner .div-button .black {
    font-size: 12px;
  }
  .banner .div-button .link-button {
    font-size: 12px;
  }
  .projets .projet {
    display: flex;
    flex-direction: column;
  }
  .projets .projet .card {
    max-width: 100%;
    width: auto;
  }
  .projets .projet .card img {
    height: 160px;
  }
  .projets .projet .card .projet-content {
    font-size: 12px;
  }
  .projets .projet .card .language {
    display: flex;
    flex-direction: column;
  }
  .competence .skills {
    flex-direction: column;
    gap: 10px;
  }
  .competence .skills .capacity {
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .competence .skills .title-skills {
    display: contents;
  }
  .training .training-content {
    gap: 50px;
    flex-direction: column;
  }
  .training .title-training {
    font-size: 15px;
  }
  .training .school {
    font-size: 20px;
  }
  .training .diploma {
    font-size: 17px;
  }
  .contact form {
    font-size: 19px;
  }
  .contact form .form-details .button-submit {
    justify-content: center;
  }
  .contact form .form-details .button-submit button {
    font-size: 15px;
  }
  .contact form .title-form {
    font-size: 18px;
    height: 20px;
  }
  .contact form .contact-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .contact form .message {
    height: 100px;
  }
  .contact form div.input-div input,
  .contact form div.input-div textarea {
    font-size: 13px;
  }
  .contact form div.input-div input::-moz-placeholder, .contact form div.input-div textarea::-moz-placeholder {
    color: var(--grey);
  }
  .contact form div.input-div input::placeholder,
  .contact form div.input-div textarea::placeholder {
    color: var(--grey);
  }
  .contact ul {
    font-size: 9px;
  }
  .contact ul .icon-contact {
    font-size: 10px;
  }
  .section-content {
    padding: 15px;
    align-items: center;
  }
  .section-content .link-cv {
    font-size: 12px;
    gap: 12px;
  }
  .section-content .link-cv span {
    font-size: 7px;
  }
  .section-content i {
    font-size: 13px;
  }
  .paragraph {
    font-size: 30px;
    padding: 0px;
    text-align: center;
  }
  footer {
    flex-direction: column;
    padding: 64px 24px;
  }
  footer .title-footer {
    width: 100%;
    margin-bottom: 20px;
  }
  footer .title-footer .name {
    font-size: 30px;
  }
  footer .title-footer .job {
    font-size: 20px;
  }
  footer .footer-content {
    flex-direction: column;
    gap: 20px;
  }
  footer .footer-content .column-footer .title-column {
    font-size: 32px;
  }
}