@import "colors.css";
@import "reset.css";

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 48px 48px 48px 36px;

    .header-title {
        display: flex;
        flex-direction: column;

        h1 {
            color: var(--black);
            font-family: "Montserrat Alternates";
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 48px;
            margin-bottom: 0;
        }

        p {
            color: var(--primary);
            font-family: "Montserrat";
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 48px;
            margin: 0;
        }
    }

    .header-nav {
        display: flex;

        .link {
            text-decoration: none;
            color: var(--black);
        }

        ul {
            display: flex;
            gap: 20px;
            list-style-type: none;
            font-size: 16px;
            font-weight: 400;
            font-family: "Montserrat";
            align-items: center;
        }

        .icons {
            gap: 16px;
            display: flex;
        }

        i {
            color: var(--black);
            font-size: 32px;
            font-style: normal;
        }
    }
}

button {
    border-radius: 32px;
    background: var(--primary);
    border: none;
    cursor: pointer;
    padding: 24px 20px;
}

.link-button {
    background: var(--primary);
    font-family: "Montserrat";
    font-size: 16px;
    color: var(--white);
    font-weight: 700;
    text-decoration: none;
}

.banner {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .banner-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        gap: 40px;

        .bienvenue {
            font-size: 36px;
            font-family: "Montserrat";
            font-weight: 500;
            color: var(--black);
            text-indent: 10px;
        }

        .welcome {
            font-family: "Montserrat Alternates";
            font-size: 36px;
            font-weight: 275;
            color: var(--black);
            text-indent: 10px;
        }

        .sous-titre {
            font-family: "Montserrat";
            font-size: 28px;
            font-weight: 300;
            color: var(--black);
        }
    }

    .div-button {
        display: flex;
        justify-content: center;
        padding: 24px 0px 24px 0px;

        button {
            border-radius: 32px;
            background: var(--primary);
            cursor: pointer;
            padding: 24px 20px;
        }

        .link {
            border: none;
        }

        .white {
            padding: 24px 20px;
            background: var(--white);
            margin-right: 24px;
            border: 1px solid var(--black);
        }

        .black {
            color: var(--black);
            font-family: "Montserrat";
            font-size: 16px;
            text-decoration: none;
            font-weight: 700;
        }
    }
}

section {
    padding: 24px 48px;
    
    .section-title {
        padding: 8px 0px;
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 48px;

        .line {
            height: 2px;
            background: var(--dark-primary);

            &:first-child {
                width: 32px;
            }

            &:last-child {
                flex: 1;
            }
        }

        h2 {
            color: black;
            font-family: 'Montserrat';
            font-size: 40px;
            font-weight: 300;
        }

        &.secondary-alternate .line {
            background: var(--secondary-alternate);
        }

        &.dark-primary .line {
            background: var(--dark-primary);
        }
    }
    

}

.projets {

    .projet {
        display: flex;
        gap: 24px;
        justify-content: space-between;

        .card {
            background: var(--dark-primary);
            padding: 24px;
            width: 30%;
            display: flex;
            flex-direction: column;
            border-radius: 24px;
            gap: 12px;

            img {
                height: 240px;
                border-radius: 12px 12px 0px 0px;
                object-fit: cover;
            }

            h3 {
                font-family: 'Montserrat';
                font-size: 24px;
                font-weight: 500;
                color: var(--black);
                margin: 0;
            }

            .projet-content {
                font-family: 'Montserrat';
                font-size: 16px;
                font-weight: 400;
                text-align: justify;
                align-self: stretch;
                margin: 0;
            }

            .language {
                display: flex;
                gap: 8px;
                list-style-type: none;
                padding: 0;
                margin: 0;
                font-family: 'Montserrat';
                color: var(--black);
                font-size: 16px;
                font-weight: 400;

                .liste-language {
                    border-radius: 16px;
                    background: var(--white);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 8px 12px;
                    line-height: 1;
                }
            }

            .lien-projet {
                text-align: right;
                font-family: 'Montserrat';
                color: var(--black);
                font-size: 16px;
                font-weight: 400;
            }
        }

        .card-2 {
            background: var(--secondary-alternate);
        }

        .card-3 {
            background: var(--secondary);

            .projet-3 {
                color: var(--white);
            }
        }
    }
}

.competence {

    .skills {
        display: flex;
        align-items: center;
        padding-bottom: 24px;

        .title-skills {
            padding-right: 114px;
            font-size: 24px;
            font-weight: 400;
            font-family: 'Montserrat';
            line-height: 24px;

            &.title-method {
                padding-right: 56px;
            }

            &.title-others {
                padding-right: 102px;
            }
        }

        .capacity {
            gap: 24px;
            display: flex;
            padding: 0;
            margin: 0;
            font-family: "Montserrat";
            color: var(--white);
            font-size: 24px;
            font-weight: 700;

            .know {
                border-radius: 28px;
                background:var(--primary);
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 16px 24px;
                line-height: 1;

                &.dark-primary {
                    background: var(--dark-primary);
                    color: var(--black);
                }

                &.secondary-alternate {
                    background: var(--secondary-alternate);
                    color: var(--black);
                }
            }
        }
    }
}
