@import "colors.css";
@import "reset.css";
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  padding: 48px 48px 48px 36px;
}
header .header-title {
  display: flex;
  flex-direction: column;
}
header .header-title h1 {
  color: var(--black);
  font-family: "Montserrat Alternates";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 0;
}
header .header-title p {
  color: var(--primary);
  font-family: "Montserrat";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  margin: 0;
}
header .header-nav {
  display: flex;
}
header .header-nav .link {
  text-decoration: none;
  color: var(--black);
}
header .header-nav ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat";
  align-items: center;
}
header .header-nav .icons {
  gap: 16px;
  display: flex;
}
header .header-nav i {
  color: var(--black);
  font-size: 32px;
  font-style: normal;
}

button {
  border-radius: 32px;
  background: var(--primary);
  border: none;
  cursor: pointer;
  padding: 24px 20px;
}

.link-button {
  background: var(--primary);
  font-family: "Montserrat";
  font-size: 16px;
  color: var(--white);
  font-weight: 700;
  text-decoration: none;
}

.banner {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.banner .banner-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 40px;
}
.banner .banner-content .bienvenue {
  font-size: 36px;
  font-family: "Montserrat";
  font-weight: 500;
  color: var(--black);
  text-indent: 10px;
}
.banner .banner-content .welcome {
  font-family: "Montserrat Alternates";
  font-size: 36px;
  font-weight: 275;
  color: var(--black);
  text-indent: 10px;
}
.banner .banner-content .sous-titre {
  font-family: "Montserrat";
  font-size: 28px;
  font-weight: 300;
  color: var(--black);
}
.banner .div-button {
  display: flex;
  justify-content: center;
  padding: 24px 0px 24px 0px;
}
.banner .div-button button {
  border-radius: 32px;
  background: var(--primary);
  cursor: pointer;
  padding: 24px 20px;
}
.banner .div-button .link {
  border: none;
}
.banner .div-button .white {
  padding: 24px 20px;
  background: var(--white);
  margin-right: 24px;
  border: 1px solid var(--black);
}
.banner .div-button .black {
  color: var(--black);
  font-family: "Montserrat";
  font-size: 16px;
  text-decoration: none;
  font-weight: 700;
}

section {
  padding: 24px 48px;
}
section .section-title {
  padding: 8px 0px;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 48px;
}
section .section-title .line {
  height: 2px;
  background: var(--dark-primary);
}
section .section-title .line:first-child {
  width: 32px;
}
section .section-title .line:last-child {
  flex: 1;
}
section .section-title h2 {
  color: black;
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 300;
}
section .section-title.secondary-alternate .line {
  background: var(--secondary-alternate);
}
section .section-title.dark-primary .line {
  background: var(--dark-primary);
}
section .section-title.primary .line {
  background: var(--primary);
}

.projets .projet {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}
.projets .projet .card {
  background: var(--dark-primary);
  padding: 24px;
  width: 30%;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  gap: 12px;
}
.projets .projet .card img {
  height: 240px;
  border-radius: 12px 12px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
.projets .projet .card h3 {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 500;
  color: var(--black);
  margin: 0;
}
.projets .projet .card .projet-content {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
  align-self: stretch;
  margin: 0;
}
.projets .projet .card .language {
  display: flex;
  gap: 8px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  color: var(--black);
  font-size: 16px;
  font-weight: 400;
}
.projets .projet .card .language .liste-language {
  border-radius: 16px;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  line-height: 1;
}
.projets .projet .card .lien-projet {
  text-align: right;
  font-family: "Montserrat";
  color: var(--black);
  font-size: 16px;
  font-weight: 400;
}
.projets .projet .card-2 {
  background: var(--secondary-alternate);
}
.projets .projet .card-3 {
  background: var(--secondary);
}
.projets .projet .card-3 .projet-3 {
  color: var(--white);
}

.competence .skills {
  display: flex;
  align-items: center;
  padding-bottom: 24px;
}
.competence .skills .title-skills {
  padding-right: 114px;
  font-size: 24px;
  font-weight: 400;
  font-family: "Montserrat";
  line-height: 24px;
}
.competence .skills .title-skills.title-method {
  padding-right: 56px;
}
.competence .skills .title-skills.title-others {
  padding-right: 102px;
}
.competence .skills .capacity {
  gap: 24px;
  display: flex;
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
}
.competence .skills .capacity .know {
  border-radius: 28px;
  background: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  line-height: 1;
}
.competence .skills .capacity .know.dark-primary {
  background: var(--dark-primary);
  color: var(--black);
}
.competence .skills .capacity .know.secondary-alternate {
  background: var(--secondary-alternate);
  color: var(--black);
}

.training .training-content {
  border-left: 12px solid var(--primary);
  border-radius: 8px;
  display: flex;
  gap: 96px;
  padding: 17px 0px 0px 17px;
}
.training .date {
  color: var(--Black, #00262A);
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
}
.training .title-training {
  color: var(--Black, #00262A);
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
}
.training .school {
  color: var(--Black, #00262A);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
.training .diploma-content {
  margin-top: 24px;
}
.training .diploma {
  color: var(--Black, #00262A);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.contact ul {
  display: flex;
  gap: 48px;
  list-style-type: none;
  font-size: 24px;
  font-weight: 400;
  font-family: "Montserrat";
  align-items: center;
}
.contact ul span {
  gap: 16px;
  border-radius: 24px;
  background: var(--black);
  color: var(--white);
  padding: 12px 16px;
}
.contact ul span.secondary {
  background: var(--secondary);
}
.contact ul .icon-contact {
  font-size: 24px;
  font-weight: 900;
}
.contact form {
  margin-top: 48px;
  background: var(--dark-primary);
  padding: 32px 24px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 400;
}
.contact form .form-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact form .title-form {
  font-weight: 700;
  height: 40px;
  font-size: 32px;
}
.contact form .contact-details {
  display: flex;
  gap: 48px;
}
.contact form .contact-details div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}
.contact form .contact-details div input {
  border-radius: 28px;
  border: none;
  padding: 16px 24px;
}
.contact form .object {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.contact form .send-message {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.contact form input {
  border-radius: 28px;
  border: none;
  padding: 16px 24px;
}
.contact form .message {
  height: 200px;
}

.paragraph {
  text-align: center;
  color: var(--Black);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  margin-top: 60px;
}

footer {
  display: flex;
  margin-top: 60px;
  background: var(--black);
  color: white;
}
footer .column-footer {
  display: flex;
  flex-direction: column;
}
footer .column-footer .title-column {
  color: var(--White);
  font-family: "Montserrat Alternates";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}