@import "colors.css";
@import "reset.css";

body {
    background-color: var(--background);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 48px 48px 48px 36px;

    .header-title {
        display: flex;
        flex-direction: column;

        h1 {
            color: var(--text);
            font-family: "Montserrat Alternates";
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 48px;
            margin-bottom: 0;
        }

        p {
            color: var(--primary);
            font-family: "Montserrat";
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 48px;
            margin: 0;
        }
    }

    .header-nav {

        .header-close {
            display: none;
        }

        .link {
            text-decoration: none;
            color: var(--black);
        }

        ul {
            display: flex;
            gap: 20px;
            list-style-type: none;
            font-size: 16px;
            font-weight: 400;
            font-family: "Montserrat";
            align-items: center;
        }

        .icons {
            gap: 16px;
            display: flex;
        }

        i {
            color: var(--black);
            font-size: 32px;
            font-style: normal;
        }

        .button-animation {
            transition-duration: 0.25s;
        }
    
        .button-animation:hover {
            background: var(--primary-hover);
        }
    }

    .header-burger {
        display: none;

        svg {
            stroke: var(--primary);
            width: 22px;
            height: 22px;
        }
    }

}

button {
    border-radius: 32px;
    background: var(--primary);
    border: none;
    cursor: pointer;
    padding: 24px 20px;
}

.link-button {
    font-family: "Montserrat";
    font-size: 16px;
    color: var(--reverse-text);
    font-weight: 700;
    text-decoration: none;
}

.banner {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .banner-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        gap: 40px;

        .bienvenue {
            font-size: 36px;
            font-family: "Montserrat";
            font-weight: 500;
            color: var(--black);
            text-indent: 10px;
        }

        .welcome {
            font-family: "Montserrat Alternates";
            font-size: 36px;
            font-weight: 275;
            color: var(--black);
            text-indent: 10px;
        }

        .sous-titre {
            font-family: "Montserrat";
            font-size: 28px;
            font-weight: 300;
            color: var(--black);
        }
    }

    .div-button {
        display: flex;
        justify-content: center;
        padding: 24px 0px 24px 0px;

        button {
            border-radius: 32px;
            background: var(--primary);
            cursor: pointer;
            padding: 24px 20px;
            position: relative;
        }

        .button-animation {
            transition-duration: 0.25s;
        }
    
        .button-animation:hover {
            background: var(--primary-hover);
        }

        .link {
            border: none;
        }

        .white {
            padding: 24px 20px;
            background: var(--white);
            margin-right: 24px;
            border: 1px solid var(--black);
        }

        .black {
            color: var(--black);
            font-family: "Montserrat";
            font-size: 16px;
            text-decoration: none;
            font-weight: 700;
        }
    }
}

section {
    padding: 24px 48px;
    
    .section-title {
        padding: 8px 0px;
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 48px;

        .line {
            height: 2px;
            background: var(--dark-primary);

            &:first-child {
                width: 32px;
            }

            &:last-child {
                flex: 1;
            }
        }

        h2 {
            color: black;
            font-family: 'Montserrat';
            font-size: 40px;
            font-weight: 300;
        }

        &.secondary-alternate .line {
            background: var(--secondary-alternate);
        }

        &.dark-primary .line {
            background: var(--dark-primary);
        }

        &.primary .line {
            background: var(--primary);
        }
    }
    

}

.projets {

    .projet {
        display: flex;
        gap: 24px;
        justify-content: space-between;

        .card {
            background: var(--dark-primary);
            padding: 24px;
            width: 30%;
            display: flex;
            flex-direction: column;
            border-radius: 24px;
            gap: 12px;

            img {
                height: 240px;
                border-radius: 12px 12px 0px 0px;
                object-fit: cover;
            }

            h3 {
                font-family: 'Montserrat';
                font-size: 24px;
                font-weight: 500;
                color: var(--black);
                margin: 0;
            }

            .projet-content {
                font-family: 'Montserrat';
                font-size: 16px;
                font-weight: 400;
                text-align: justify;
                align-self: stretch;
                margin: 0;
            }

            .language {
                display: flex;
                gap: 8px;
                list-style-type: none;
                padding: 0;
                margin: 0;
                font-family: 'Montserrat';
                color: var(--black);
                font-size: 16px;
                font-weight: 400;

                .liste-language {
                    border-radius: 16px;
                    background: var(--white);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 8px 12px;
                    line-height: 1;
                }
            }

            .lien-projet {
                text-align: right;
                font-family: 'Montserrat';
                color: var(--black);
                font-size: 16px;
                font-weight: 400;
            }
        }

        .card-2 {
            background: var(--secondary-alternate);
        }

        .card-3 {
            background: var(--secondary);

            .projet-3 {
                color: var(--white);
            }
        }
    }
}

.competence {

    .skills {
        display: flex;
        align-items: center;
        padding-bottom: 24px;

        .title-skills {
            padding-right: 114px;
            font-size: 24px;
            font-weight: 400;
            font-family: 'Montserrat';
            line-height: 24px;

            &.title-method {
                padding-right: 56px;
            }

            &.title-others {
                padding-right: 102px;
            }
        }

        .capacity {
            gap: 24px;
            display: flex;
            padding: 0;
            margin: 0;
            font-family: "Montserrat";
            color: var(--white);
            font-size: 24px;
            font-weight: 700;

            .know {
                border-radius: 28px;
                background:var(--primary);
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 16px 24px;
                line-height: 1;

                &.dark-primary {
                    background: var(--dark-primary);
                    color: var(--black);
                }

                &.secondary-alternate {
                    background: var(--secondary-alternate);
                    color: var(--black);
                }
            }
        }
    }
}

.training {

    .training-content {
        border-left: 12px solid var(--primary);
        border-radius: 8px;
        display: flex;
        gap: 96px;
        padding: 17px 0px 0px 17px;
    }

    .date {
        color: var(--Black);
        text-align: center;
        font-family: Montserrat;
        font-size: 20px;
    }

    .title-training {
        color: var(--Black);
        font-family: Montserrat;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
    }

    .school {
        color: var(--Black);
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
    }

    .diploma-content {
        margin-top: 24px;
    }

    .diploma {
        color: var(--Black, #00262A);
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
    }
}

.contact {

    ul {
        display: flex;
        gap: 48px;
        list-style-type: none;
        font-size: 24px;
        font-weight: 400;
        font-family: "Montserrat";
        align-items: center;

        & span {
            gap: 16px;
            border-radius: 24px;
            background: var(--black);
            color: var(--white);
            padding: 12px 16px;

            &.secondary {
                background: var(--secondary);
            }
        }

        .icon-contact {
            font-size: 24px;
            font-weight: 900;
        }
    }

    form {
        margin-top: 48px;
        background: var(--dark-primary);
        padding: 32px 24px;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        font-family: "Montserrat";
        font-size: 24px;
        font-weight: 400;

        .form-details {
            display: flex;
            flex-direction: column;
            gap: 20px;

            label {
                margin-left: 20px;
            }

            .button-submit {
                display: flex;
                height: 80px;
                flex: 1 0 0;
                justify-content: flex-end;

                button {
                    background: var(--dark-primary-active);
                    border-radius: 36px;
                    padding: 24px;
                    color: var(--black);
                    font-family: Montserrat;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 20px;
                }
            }
        }

        .title-form {
            font-weight: 700;
            height: 40px;
            font-size: 32px;
            margin-left: 20px;
        }

        .contact-details {
            display: flex;
            gap: 48px;
        }

        div.input-div {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 8px;

            label {
                margin-left: 20px;
            }

            input,
            textarea {
                border-radius: 28px;
                border: none;
                padding: 16px 24px;
    
                font-family: "Montserrat";
                color: var(--text);
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
    
                &::placeholder {
                    color: var(--grey);
                }
            }
        }

        .message {
            height: 200px;
            resize: none;

            &::-webkit-scrollbar {
                width: 12px;
            }
            
            &::-webkit-scrollbar-track {
                display: none;
            }
            
            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: var(--primary);
                border-radius: 6px;
            }
        }
    }
}

.paragraph {
    text-align: center;
    color: var(--Black);
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
    margin-top: 60px;
}

.cv {
    width: 100%;
    background: var(--secondary-alternate);
    border-radius: 24px;
    padding: 36px 48px;
    text-align: left;
    color: var(--Black);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 300;

    span {
        color: var(--Black);
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
    }
}

footer {
    display: flex;
    margin-top: 60px;
    background: var(--black);
    color: white;
    padding: 98px 48px;

    .logo {
        margin-bottom: 24px;
    }

    .title-footer {
        width: 40%;

        .name {
            color: var(--White);
            font-family: "Montserrat Alternates";
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
        }

        .job {
            color: var(--White, #FFF9F8);
            font-family: Montserrat;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;       
        }
    }

    .footer-content {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;
    }

    .column-footer {
        display: flex;
        flex-direction: column;
        gap: 24px;
        color: var(--White);
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;

        .title-column {
            color: var(--White);
            font-family: "Montserrat Alternates";
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
        }

        a {
            text-decoration: none;
            color: var(--White);
        }
    }
}

@media (max-width: 767.98px) {
    body {
        display: flex;
        flex-direction: column;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vh;
        height: 100vh;
        background-color: rgba(0,0,0,0.6);
        display: none;
    }

    .overlay.open {
        display: block;
    }

    section {

        .section-title {
            justify-content: center;

            .line {
                height: 2px;
                background: var(--dark-primary);
    
                &:first-child {
                    display: none;
                }
    
                &:last-child {
                    display: none;
                }
            }

            h2 {
                font-size: 32px;
            }
        }
    }

    header {

        .header-nav {
            position: fixed;
            top: 0;
            right: 0;
            width: 230px;
            height: 102vh;
            background-color: var(--dark-primary);
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translate(100%);
            transition: 0.3s transform ease-in-out;

            .header-close {
                display: block;

                svg {
                    stroke: var(--primary);
                    width: 22px;
                    height: 22px;
                    position: absolute;
                    top: 16px;
                    right: 16px;
                }
            }

            ul {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        .header-nav.open {
            transform: initial;
            display: flex;
        }

        .header-burger {
            display: block;
        }
    }

    .banner {
        margin-top: 0px;

        .banner-content {

            .bienvenue {
                font-size: 30px;
            }

            .welcome {
                font-size: 30px;
            }

            .sous-titre {
                font-size: 22px;
            }
        }

        .div-button {

            .black {
                font-size: 12px;
            }

            .link-button {
                font-size: 12px;
            }
        }
    }

    .projets {
        .projet {
            display: flex;
            flex-direction: column;
    
            .card {
                width: 83%;

                img {
                    height: 160px;
                }
                
                .projet-content {
                    font-size: 12px;
                }

                .language {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }

    .competence {

        .skills {
            flex-direction: column;
            gap: 10px;

            .capacity {
                gap: 10px;
                justify-content: center;
                flex-wrap: wrap;
            }

            .title-skills {
                display: contents;
            }
        }
    }

    .training {

        .training-content {
            gap: 50px;
            flex-direction: column;
        }

        .title-training {
            font-size: 15px;
        }

        .school {
            font-size: 20px;
        }

        .diploma {
            font-size: 17px;
        }
    }

    .contact {

        form {
            font-size: 19px;

            .form-details {
                .button-submit {
                    justify-content: center;

                    button {
                        font-size: 15px;
                    }
                }
            }

            .title-form {
                font-size: 18px;
                height: 20px;
            }

            .contact-details {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }

            .message {
                height: 100px;
            }

            input::placeholder {
                font-family: "Montserrat";
                color: var(--Grey, #D9C3C3);
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                align-items: flex-start;
                display: flex;
            }
        }

        ul {
            font-size: 10px;

            .icon-contact {
                font-size: 10px;
            }
        }
    }

    .cv {
        font-size: 17px;

        span {
            font-size: 15px;
        }
    }

    .paragraph {
        font-size: 32px;
    }

    footer {
        flex-direction: column;

        .title-footer {
            width: 100%;
            margin-bottom: 20px;

            .name {
                font-size: 30px;
            }

            .job {
                font-size: 20px;
            }
        }

        .footer-content {
            flex-direction: column;
            gap: 20px;

            .column-footer {
                font-size: 14px;

                .title-column {
                    font-size: 33px;
                }
            }
        }
    }
}

@media (max-width: 1024px) {

    .projets {

        .projet {

            .card {

                img {
                    height: 162px;
                }

                .projet-content {
                    font-size: 13px;
                }

                .language {
                    flex-wrap: wrap;
                    font-size: 15px;
                }
            }
        }
    }

    .contact {
        
        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .competence {

        .skills {
            .capacity {
                font-size: 13px;
            }
        }
    }

    footer {

        .title-footer {
            width: 37%;
        }
    }
}
